@font-face {
  font-family: 'PokemonGB';
  font-style: normal;
  font-weight: 400;
  src: local('PokemonGB'), url(font/PokemonGB.ttf) format('truetype');
}

body {
  background-image: url("img/background.jpg");
  background-size: 1440px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

#container {
  text-align: center;
}

canvas {
  font-family: "PokemonGB";
  height: 110%;
}

#left {
  float: left;
}